body {
  margin: 0;
  background: url("./img/FONDOPANTALLA.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

canvas {
    border: 2px solid white;
  }

 
  html, body {
    height: 100%;
    width: 100%;
  }
  
  .start-btn {
    margin-top: 20px;
  }

  #life-bar {
    height: 30px;
    background-color: white;
    position: absolute;
    top: 100px;
    left: 60px;
  }

  

